$btn-bg:$theme2;
$btn-color:$theme1;
$btn-width: 200px;
$btn-height:35px;
.cr_btn{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: $btn-width;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $btn-color;
    color: $btn-color;
    line-height: $btn-height;
    box-sizing: border-box;
    transition: 0.8s ease-in-out;
    padding: 4px 16px;
    z-index: 1;
    &:before,
    &::after {
        content: "";
        position: absolute;
        box-sizing: border-box;
        transition: 0.5s ease-in-out;
        z-index: -1;
        width: 20px;
        height: 20px;
        background-color: $btn-color;
        border-radius: 50%;
        top: 50%;
    }
    &:before {
      left: -20px;
      transform: translate(-50%, -50%);
    }
    
    &:after {
      right: -20px;
      transform: translate(50%, -50%);
    }
    &:hover {
      color: $white;
      &:before {
        animation: criss-cross-left 0.8s both;
        animation-direction: alternate;
      }
      
      &:after {
        animation: criss-cross-right 0.8s both;
        animation-direction: alternate;
      }
    }
  &.cr_btn_outline{
    background-color: $btn-color;
    border-color: $btn-color;
    color: $white;
    &:hover{
      color: $btn-color;
      background-color: transparent;
      &::before{
        animation: criss-cross-left 0.8s reverse;
      }
      &::after{
        animation: criss-cross-right 0.8s reverse;
      }
    }
  }
}
@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 2%;
    height: 20px;
  }
  100% {
    left: 50%;
    width: calc($btn-width * 1.5);
    height: calc($btn-width * 1.5);
  }
}

@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
     width: 20px;
     height: 20px;
  }
  100% {
    right: 50%;
    width: calc($btn-width * 1.5);
    height: calc($btn-width * 1.5);
  }
}